.App {
  text-align: center;
}

.slot-container{
  background-color: brown;
  font-size: 3rem;
  color: white;
  width: 60%;
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem 0 1rem;
}

.play-btn{
  border: none;
  outline: none;
  background-color: goldenrod;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  margin-top: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: all 0.3s ease-in-out;
}

.play-btn:hover{
  transform: scale(1.1);
}

.play-btn:active{
  background: brown;
}